body {
  padding-top: 180px;
  background: #212121;
}

.outer-container {
  text-align: center;
  /* background-color: #FFDADA; */
  padding: 20px 0px 40px;
  font-family: "Merriweather", serif;
}

h1 {
  color: #263238;
}

.inner-container {
  text-align: left;
  color: #3e2723;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 5% 10%;
}

h4 {
  letter-spacing: 1.5px;
}
